* {
  box-sizing: border-box;
}

.App {
  min-height: 100%;
  width: 100%;
  /* background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%); */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to top, #c3d4e6 0%, #eef5ff 100%);
  position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
}

p {
  font-weight: 400 !important;
  color: rgb(69 69 69) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.taskList {
  display: flex;
  width: 60%;
  margin: 40px auto;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%) !important;
  height: fit-content;
  flex-wrap: wrap;
  max-width: 90vw;
}

.tasks-container {
  width: 65%;
    margin: auto;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
    border-bottom: 1px solid #ececec;
}

.searchbar{
  width: 35%;
  min-width: 200px !important;
  height: 50px;
    margin: 20px !important;
}

.user-dropdown {
  width: 30%;
  height: 50px;
  min-width: 240px !important;
  margin: 20px;
}

.user-dropdown-add {
  margin: 20px 0;
}
/* .user-dropdown>div {
  height: 100%;
} */

.css-yk16xz-control, .css-1pahdxg-control {
  min-height: 50px !important;
}

.check-wrapper {
  display: flex;
  height: -moz-fit-content;
  height: 50px;
  width: fit-content;
  min-width: 217px !important;
}

.taskList>.check-wrapper {
  margin: 20px;
}

.check-wrapper p {
  margin: auto;
  margin-left: 0;
  margin-right: 10px;
}

.user-name {
  font-weight: 300!important;
  margin-top: 0;
}

.Mui-focused {
  color: rgb(38, 132, 255) !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid rgb(38, 132, 255) !important;
}

.MuiCheckbox-colorSecondary.Mui-checked {
  color: rgb(38, 132, 255) !important;
}

.MuiIconButton-root {
  padding: 0 !important;
  height: fit-content !important;
    margin: auto auto auto 0 !important;
}

.MuiCard-root {
  overflow: hidden;
  width: 100% !important;
  padding: 0 20px 20px 20px;
  /* margin: auto; */
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%) !important;
  height: 100%;
  margin: 0 20px 0 0;
}

.MuiList-root {
  display: flex;
  flex-wrap: wrap;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MuiListItem-gutters {
  padding: 0 0 15px 0 !important;
}

.MuiListItem-root {
  width: auto!important;
  min-width: 300px;
  flex-grow: 2;
  height: auto;
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.MuiPaper-rounded {
  border-radius: 10px !important;
}

.edit-modal {
  position: absolute;
    width: 100% !important;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    left: 0;
    padding: 0 !important;
    background-color: #ffffffd1 !important;
}

.edit-card {
  width: 30% !important;
  height: 40% !important;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 20%;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  padding: 0;
}

.edit-input-wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
}

.edit-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.edit-btn-wrapper button {
  padding: 20px;
}

.edit-input {
  width: 100%;
}

.edit-icon {
  transition: transform ease 0.1s !important;
  margin: auto 20px;
  width: 20px !important;
}
.edit-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.todo-title-wrapper {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  padding: 10px 0 0 0;
}

.add-task-button {
  padding: 13px 15px !important;
  border-radius: 100px !important;
  position: absolute !important;
  background-color: white !important;
  top: 20px !important;
  right: 30px !important;
  box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 10%) !important;
}